@import "../../../globals.css";
.navWrapper {
  /* border: 1px solid red; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 4.5625rem;
  padding-inline: 2rem;
  background: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.logoWrapper h1 {
  font-size: var(--text-2xl);
  font-weight: 700;
  color: var(--color-secondary);
}

.menuWrapper {
  /* border: 1px solid green; */
  padding-block: 0.657rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.user {
  /* border: 1px solid yellow; */

  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.userImage {
  width: 3.125rem;
  height: 3.125rem;
  object-fit: cover;
  border-radius: 50%;
}
img {
  width: 100%;
  height: 100%;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 100%;
  right: 0;
  width: 12rem;
  padding: 1rem;
  background-color: var(--color-primary);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}
.dropdown p {
  padding: 1rem;
  font-size: var(--text-md);
  font-weight: 600;
  color: var(--color-secondary);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: none;
  height: 2.7rem;
  padding-inline: 1rem;
  border-radius: var(--border-radius-lg);
  background: var(--accent-1);
  color: var(--color-primary);
  font-weight: 700;
  font-size: var(--text-body);
  cursor: pointer;
}
.bookmarkBtn {
  padding-inline: 0.5rem;
}

.addBtn {
  padding-inline: 1.8rem;
}
.bookmarkImage {
  width: 1rem;
  height: 1rem;
}
.signBtn {
  background: var(--accent-2);
  padding-inline: 2rem;
}

.logoutBtn {
  padding-inline: 2rem;
}

@media screen and (max-width: 768px) {
  .dropdown {
    width: 100%;
    padding: 1rem;
  }
  .closeDropdown {
    position: fixed;
    top: 4.5625rem;
    right: 2rem;
    background: transparent;

    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 609px) {
  .navWrapper {
    padding-inline: 1rem;
  }
  .logoWrapper h1 {
    font-size: var(--text-xl);
  }
  .menuWrapper {
    gap: 1rem;
  }
  .user {
    gap: 1rem;
  }
  .userImage {
    width: 2.5rem;
    height: 2.5rem;
  }
  .dropdown {
    width: 100%;
    padding: 1rem;
  }
  .btn {
    height: 2.4rem;
    padding-inline: 0.8rem;
    font-size: var(--text-sm);
  }
  .bookmarkBtn {
    padding-inline: 0.5rem;
  }
  .addBtn {
    padding-inline: 1.5rem;
  }
  .signBtn {
    padding-inline: 1.5rem;
  }
  .logoutBtn {
    padding-inline: 1.5rem;
  }

  .closeDropdown {
    position: fixed;
    top: 4.5625rem;
    right: 1.1rem;
    background: transparent;

    display: flex;
    justify-content: flex-end;
  }
}
